{% block content %}

<section style="padding-top:5px;">
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard marginR6"></i><a href="javascript:loadcontent('/my_meeting');">主页</a></li>
        <li><a href="#">会议预订</a></li>
    </ol>
</section>
    <section>
<div class="user-search">
    <div class="row form-horizontal" id="search-form">
        <div style="padding:0 130px 0 30px;">
            <div class="col-md-4 paddingLR0" style='padding-left:0px;'>
                <div class="form-group">
                    <label class="col-sm-4 control-label form-label paddingR0 paddingL0">机构</label>
                    <div class="col-sm-8 paddingR0">
                        <input type="text" class="form-control"	id="search_org_name" name="search_org_name" readonly="readonly"
                               onclick="org_show();" placeholder="--请选择机构--">
{#                        <input type="text" class="hidden" id="search_org_id" name="search_org_id" >#}
                        <div class="form-control" style="background-color:white;
                        height:300px;overflow: auto;display:none;position: absolute;z-index: 8" id="orgTree">
                            <ul id="treeDemo" class="ztree"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 paddingLR0" style='padding-left:0px;'>
                <div class="form-group">
                    <label class="col-sm-4 control-label form-label paddingR0 paddingL0">会议室</label>
                    <div class="col-sm-8 paddingR0">
                        <select class="form-control" id="room_id" name="room_id" onchange="refresh_calender();">
                            <option value="">--请选择会议室--</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section class="content-search-area">
    <div class="space"></div>
    <div id="scheduler_here"  class="dhx_cal_container" style='width:100%; height:550px; padding:10px;'>
        <div class="dhx_cal_navline">
            <div class="dhx_cal_prev_button">&nbsp;</div>
            <div class="dhx_cal_next_button">&nbsp;</div>
            <div class="dhx_cal_today_button"></div>
            <div class="dhx_cal_date"></div>
            <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
            <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
            <div class="dhx_cal_tab" name="timeline_tab" style="right:280px;"></div>
            <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
        </div>
        <div class="dhx_cal_header">
        </div>
        <div class="dhx_cal_data">
        </div>
    </div>
</section>

<link rel="stylesheet" href="{{request.static_url('brms:static/dhtmlxscheduler/dhtmlxscheduler.css')}}">
<script src="{{request.static_url('brms:static/dhtmlxscheduler/dhtmlxscheduler.js')}}"></script>
<script src="{{request.static_url('brms:static/dhtmlxscheduler/locale_cn.js')}}"></script>
<script src="{{request.static_url('brms:static/dhtmlxscheduler/dhtmlxscheduler_timeline.js')}}"></script>
<script src="{{request.static_url('brms:static/dhtmlxscheduler/dhtmlxscheduler_treetimeline.js')}}"></script>
<script src="{{request.static_url('brms:static/dhtmlxscheduler/dhtmlxscheduler_editors.js')}}"></script>
<script src="{{request.static_url('brms:static/dhtmlxscheduler/dhtmlxscheduler_minical.js')}}"></script>
<script src="{{request.static_url('brms:static/dhtmlxscheduler/dhtmlxscheduler_recurring.js')}}"></script>
<script src="{{request.static_url('brms:static/dhtmlxscheduler/dhtmlxscheduler_collision.js')}}"></script>
<script src="{{request.static_url('brms:static/dhtmlxscheduler/dhtmlxscheduler_readonly.js')}}"></script>
<script src="{{request.static_url('brms:static/js/booking/booking.js')}}"></script>
<script src="{{ request.static_url('brms:static/js/org/org_tree.js') }}"></script>
<script type="text/javascript">
    var setting = {
        check: {
            enable: true,
            chkStyle: 'checkbox',
            chkboxType: {"Y" : "", "N" : "s" }
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            onCheck: zTreeOnCheck4MB
        }
    };

    var zNodes ={{ branch_json|safe }};
    $.fn.zTree.init($("#treeDemo"), setting, zNodes);
    scheduler.config.lightbox.sections = [
        {name: "会议名称", height: 30, map_to: "text", type: "textarea", focus: true},
        {name: "会议描述", height: 130, map_to: "desc", type: "textarea"},
        {name: "会议室", height: 23, type: "timeline", options: null, map_to: "room_id"},
        {name: "recurring", type: "recurring", map_to: "", button: "recurring"},
        {name: "time", height: 72, type: "calendar_time", map_to: "auto"}
    ];
    zTreeOnCheck4MB(null, null, null);
    scheduler.attachEvent("onClick",function(){
        return false;
    });
    scheduler.attachEvent("onEventCollision", function(id, ev){
        $.messager.popup('所选时间段与已有会议冲突，请重新选择时间或会议室！');
        return true;

    });
    scheduler.attachEvent('onBeforeLightbox', function(id){
        var lightbox = scheduler.getLightbox();
        lightbox.childNodes[1].childNodes[0].childNodes[1].childNodes[0].maxLength=30;
        lightbox.childNodes[1].childNodes[1].childNodes[1].childNodes[0].maxLength=20;
        return true;
    });
    scheduler.attachEvent("onBeforeEventDelete", function(id){
        if (id > 1000000000){
            return true;
        }
        var flag = false;
        $.ajax({
            type : "POST",
            url : "/meeting/del",
            async: false,
            data : {
                "id": id
            },
            error: ajax_error,
            success : function(data) {
                if (data.success) {
                    $.messager.popup("删除会议成功！");
                    flag = true;
                } else {
                    $.messager.popup(data.error_msg);
                    flag = false;
                }
            }
        });
        return flag;
    });
    scheduler.attachEvent("onEventSave", function (id, ev, is_new) {
        debugger;
        var name = $.trim(ev.text);
        var desc = ev.desc;
        var start_date_time = new Date(ev.start_date).FormatLocal('yyyy-MM-dd hh:mm');
        var end_date_time = new Date(ev.end_date).FormatLocal('yyyy-MM-dd hh:mm');
        var repeat_start_date_time = start_date_time;
        if (ev._start_date){
            repeat_start_date_time = new Date(ev._start_date).FormatLocal('yyyy-MM-dd hh:mm');
        }
        var repeat_end_date_time = new Date(ev._end_date).FormatLocal('yyyy-MM-dd hh:mm');
        var start_date = start_date_time.substring(0, 10);
        var start_time = start_date_time.substring(11, 16);
        var end_date = start_date; //end_date_time.substring(0, 10);
        var end_time = end_date_time.substring(11, 16);
        var rec_type = ev.rec_type;
        if (rec_type){
            start_date = repeat_start_date_time.substring(0, 10);
            end_date = repeat_end_date_time.substring(0, 10);
        }
        var room_id = ev.room_id;
        var url = '/meeting/add';
        if (is_new == null){
            url = '/meeting/update'
        }
        var flag = false;
        $.ajax({
            type: "POST",
            async: false,
            url: url,
            data: {
                'id': id,
                'name': name,
                'desc': desc,
                'start_date': start_date,
                'end_date': end_date,
                'start_time': start_time,
                'end_time': end_time,
                'rec_type': get_rec(rec_type, 1),
                'rec_pattern': get_rec(rec_type, 0),
                'room_id': room_id
            },
            success: function (data) {
                if (data.success){
                    $.messager.popup('会议预约成功！');
                    flag = true;
                }else{
                    $.messager.popup(data.error_msg);
                    flag = false;
                }
            },
            error: ajax_error
        });
        return flag;
    });
    scheduler.attachEvent("onEventAdded", function(id, ev){
        if (id <= 1000000000){
            return true;
        }
        scheduler.deleteEvent(id);
        reload_meeting();
        return true;

    });
    scheduler.attachEvent("onEventChanged", function(id, ev){
        reload_meeting();
        return true;
    });
</script>
{% endblock %}
