{% extends "base.html" %}

{% block title%}会议室预订管理系统 | 登录{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{request.static_url('brms:static/css/login.css')}}">
{% endblock %}

{% block body_class%}class="hold-transition login-page"{% endblock %}

{% block body%}
<div class="login-box">
  <div class="login-logo">
    <a>会议室预订管理系统</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
      <br>
    <p id="" class="login-box-msg">
        {% if error_msg %}
        <font color='red'>{{ error_msg }}</font>
         {% endif %}
      <input type="hidden" id="vali" value="{{ request.session.error_msg }}">
    </p>

    <form action="/login" method="post">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" name="userName" placeholder="username">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" name="password" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">

        <!-- /.col -->
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success btn-block btn-flat">登录</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
{#    <div style="float: right;">#}
{#      <a href="/reset_pwd" style="alignment: right;">忘记密码</a>#}
{#    </div><br>#}
  </div>
</div>
{% endblock %}
{% block mainjs %}

{% endblock %}
