<div class="panel panel-success">
	<div class="panel-body">
		<table class="table">
			<tr>
				<th></th>
				<th>角色代码</th>
				<th>角色名称</th>
                <th>角色描述</th>
                <th>创建人</th>
                <th>创建时间</th>
			</tr>
			{% for role in roles %}
			<tr>
				<td><input type="checkbox" name="idbox"
					value="{{role.role_id}}" onclick="checkuser(this)"></td>
				<td>{{role.role_id}}</td>
				<td>{{role.role_name}}</td>
                <td>{{role.role_desc}}</td>
                <td>{{role.create_user}}</td>
                <td>{{role.create_time}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>

<nav>
	<ul class="pagination">
		{% if paginator.page_no == 1 %}
		<li class="disabled"><a>首页</a></li>
		<li class="disabled"><a>上一页</a></li>
		{% else %}
		<li><a href="/role/list?page=1">首页</a></li>
		<li><a	href="/role/list?page={{ previous_page }}">上一页</a></li>
		{% endif %}

		{% for page in paginator.page_list %}
		<li><a href="/role/list?page={{ page }}">{{ page }}</a></li>
		{% endfor %}

		{% if paginator.page_no == paginator.pages %}
		<li class="disabled"><a>下一页</a></li>
		<li class="disabled"><a>末页</a></li>
		{% else %}
		<li><a href="/role/list?page={{ paginator.next_page }}">下一页</a></li>
		<li><a href="/role/list?page={{ paginator.pages }}">末页</a></li>
		{% endif %}
		<li class="disabled"><a>共{{ paginator.pages }}页&nbsp; 到第&nbsp;<input
				id="pageNo" style="width: 30px; height: 17px;" type="text"
				value="{{ paginator.next_page }}">&nbsp;页
		</a></li>
		<li><a href="javascript:page()">确定</a></li>
	</ul>
</nav>