{% block content %}
<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">
			<i class="icon-role" id="icon-role"></i>&nbsp;角色列表
		</h3>
	</div>

	<div class="panel-body">
		<div class="form-inline">
			<label>角色名称:</label> <input type="text" class="form-control"
				id="search" name="search" placeholder="">
			<label>
			    <button type="button" class="btn btn-primary" onclick="list(1)">
					<i class="icon-search" id="icon_search"></i>&nbsp;查询&nbsp;
			    </button>
			</label>
		</div>
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-default" onclick="to_add()">新增</button>
			<button type="button" class="btn btn-default" onclick="to_update()">修改</button>
			<button type="button" class="btn btn-default" onclick="del()">删除</button>
		</div>
		<div class="panel-body">
			<div id="listWrapper">
            </div>
		</div>
	</div>
</div>



<div id="modalWrapper"></div>

<script src="{{ request.static_url('brms:static/js/role/role.js') }}"></script>
{% endblock %}

