<div class="modal" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {% if boardroom %}
                    <h4 class="modal-title">修改会议室</h4>
                {% else %}
                    <h4 class="modal-title">新增会议室</h4>
                {% endif %}
            </div>
            <p id="br_cue"></p>
            <form id="addForm" action="{% if boardroom %}/boardroom/update_boardroom{% else %}/boardroom/add_boardroom{% endif %}" method="post"
                  class="form-horizontal" enctype="multipart/form-data">
                {% if boardroom %}
                    <input id="br_id" name="br_id" class="hidden" value="{{ boardroom.br_id }}">
                {% endif %}
                <div class="form-group">
                    <label for="input br_name_add" class="col-sm-2 control-label">名称</label>
                    <div class="col-sm-9">
                        {% if boardroom %}
                            <input name="br_name_add" type="text" class="form-control" value="{{ boardroom.br_name }}"
                               id="br_name_add">
                        {% else %}
                            <input name="br_name_add" type="text" class="form-control" placeholder="会议室中文名"
                               id="br_name_add">
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="input branch_add" class="col-sm-2 control-label">所属机构</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="branch_add" name="branch_add">
                            {% if not boardroom %}
                                <option value="">请选择</option>
                            {% endif %}
                            {% for branch in branches %}
                                {% if boardroom and boardroom.org_id == branch.org_id %}
                                    <option value="{{ branch.org_id }}" selected="selected">{{ branch.org_name }}</option>
                                {% else %}
                                    <option value="{{ branch.org_id }}">{{ branch.org_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input br_config_add" class="col-sm-2 control-label">配置</label>
                    <div class="col-sm-9">
                        {% if boardroom %}
                            <input name="br_config_add" type="text" class="form-control" value="{{ boardroom.config }}"
                               id="br_config_add">
                        {% else %}
                            <input name="br_config_add" type="text" class="form-control" placeholder="逗号分隔"
                               id="br_config_add">
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="input br_desc_add" class="col-sm-2 control-label">描述</label>
                    <div class="col-sm-9">
                        {% if boardroom %}
                            <input name="br_desc_add" type="text" class="form-control" value="{{ boardroom.description }}"
                               id="br_desc_add">
                        {% else %}
                            <input name="br_desc_add" type="text" class="form-control" placeholder="会议室位置大小等介绍"
                               id="br_desc_add">
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="input room_pic" class="col-sm-2 control-label">照片</label>
                    <div class="col-sm-9">
                        <input type="file" name="picture" id="room_pic" />
                        {% if boardroom and boardroom.picture%}
                            <div id='room_pic_preview'>
                                <img src="{{ request.static_url('brms:' + boardroom.picture) }}" height="150" width="150"/>
                            </div>
                        {% else %}
                            <div id='room_pic_preview'></div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="input room_logo" class="col-sm-2 control-label">logo</label>
                    <div class="col-sm-9">
                        <input type="file" name="picture" id="room_logo" />
                        {% if boardroom and boardroom.logo%}
                            <div id='room_logo_preview'>
                                <img src="{{ request.static_url('brms:' + boardroom.logo) }}" height="150" width="150"/>
                            </div>
                        {% else %}
                            <div id='room_logo_preview'></div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="input room_btn" class="col-sm-2 control-label">按钮图片</label>
                    <div class="col-sm-9">
                        <input type="file" name="picture" id="room_btn" />
                        {% if boardroom and boardroom.button_img%}
                            <div id='room_btn_preview'>
                                <img src="{{ request.static_url('brms:' + boardroom.button_img) }}" height="150" width="150"/>
                            </div>
                        {% else %}
                            <div id='room_btn_preview'></div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="input room_bgd" class="col-sm-2 control-label">背景图</label>
                    <div class="col-sm-9">
                        <input type="file" name="picture" id="room_bgd" />
                        {% if boardroom and boardroom.background%}
                            <div id='room_bgd_preview'>
                                <img src="{{ request.static_url('brms:' + boardroom.background) }}" height="150" width="150"/>
                            </div>
                        {% else %}
                            <div id='room_bgd_preview'></div>
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">关闭
                        </button>
                        <button type="button" class="btn btn-success"
                                onclick="{% if boardroom %}update(){% else %}add(){% endif %}">保存
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $("#addForm").on('change', '#room_pic', function (e) {
        if(e.target.files.length==1){
            $("#room_pic_preview").html('<img src="{{ request.static_url('brms:static/img/boardroom/loader.gif') }}" alt="Uploading...."/>');

            upload('#room_pic');
        }
    });
    $("#addForm").on('change', '#room_logo', function (e) {
        if(e.target.files.length==1){
            $("#room_logo_preview").html('<img src="{{ request.static_url('brms:static/img/boardroom/loader.gif') }}" alt="Uploading...."/>');

            upload('#room_logo');
        }
    });
    $("#addForm").on('change', '#room_btn', function (e) {
        if(e.target.files.length==1){
            $("#room_btn_preview").html('<img src="{{ request.static_url('brms:static/img/boardroom/loader.gif') }}" alt="Uploading...."/>');

            upload('#room_btn');
        }
    });
    $("#addForm").on('change', '#room_bgd', function (e) {
        if(e.target.files.length==1){
            $("#room_bgd_preview").html('<img src="{{ request.static_url('brms:static/img/boardroom/loader.gif') }}" alt="Uploading...."/>');

            upload('#room_bgd');
        }
    });
</script>