{% block content %}
<section style="padding-top:5px;">
  <ol class="breadcrumb">
    <li><i class="fa fa-dashboard marginR6"></i><a href="javascript:loadcontent('/my_meeting');">主页</a></li>
    <li><a href="#">会议室列表</a></li>
  </ol>
</section>
<section class="content-search-area">
  <div class="user-search">
    <div class="row form-horizontal" id="search-form">
        <div style="padding:0 130px 0 30px;">
            <div class="col-md-4 paddingLR0" style='padding-left:0px;'>
                <div class="form-group">
                    <label class="col-sm-4 control-label form-label paddingR0 paddingL0">会议室名称</label>
                    <div class="col-sm-8 paddingR0">
                        <input type="text" class="form-control"	id="br_name" name="br_name">
                    </div>
                </div>
            </div>
            <div class="col-md-4 paddingLR0" style='padding-left:0px;'>
                <div class="form-group">
                    <label class="col-sm-4 control-label form-label paddingR0 paddingL0">配置</label>
                    <div class="col-sm-8 paddingR0">
                        <input type="text" class="form-control"	id="br_config" name="br_config">
                    </div>
                </div>
            </div>
            <div class="col-md-4 paddingLR0" style='padding-left:0px;'>
                <div class="form-group">
                    <label class="col-sm-4 control-label form-label paddingR0 paddingL0">机构</label>
                    <div class="col-sm-8 paddingR0">
                        <input type="text" class="form-control"	id="search_org_name" name="search_org_name" readonly="readonly"
                               onclick="org_show();" placeholder="请选择">
                        <input type="text" class="hidden" id="search_org_id" name="search_org_id">
                        <div class="form-control" style="background-color:white;
                        height:300px;overflow: auto;display:none;position: absolute;z-index: 8" id="orgTree">
                            <ul id="treeDemo" class="ztree"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 paddingLR0" style='padding-left:0px;'>
                <div class="form-group">
                    <label class="col-sm-4 control-label form-label paddingR0 paddingL0">状态</label>
                    <div class="col-sm-8 paddingR0">
                        <input type="text" class="form-control"	id="br_statue" name="br_statue">
                    </div>
                </div>
            </div>
            <button type="button" style="margin-left: 40px;" class="btn btn-primary" onclick="list(1)">
                <i class="fa fa-search marginR6" ></i>查询
            </button>
        </div>
        </div>
    </div>
</section>
<section class="main-bootstrap-table">
    <div class="in-table">
        <div class="panel-body">
            <input id="flag" name="flag" class="hidden" value="if">
            <div id="listWrapper"></div>
        </div>
	</div>

<div id="modalWrapper"></div>
</section>

<script src="{{ request.static_url('brms:static/js/boardroom/boardroom.js') }}"></script>
<script src="{{ request.static_url('brms:static/js/org/org_tree.js') }}"></script>
<script src="{{ request.static_url('brms:static/js/lightbox.js')}}"></script>
<script type="text/javascript">
    var setting = {
        check: {
            enable: true,
            chkStyle: "radio",
            radioType: "all"
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        callback: {
            onCheck: zTreeOnCheck
        }
    };
    var zNodes ={{ branch_json|safe }};
    $.fn.zTree.init($("#treeDemo"), setting, zNodes);
</script>
{% endblock %}

