<div class="panel panel-success">
	<div class="panel-body">
		<table class="table">
			<tr>
                {% if flag == 'mg' %}
				    <th></th>
                {% endif %}
				<th>会议室名称</th>
				<th>会议室图片</th>
                <th>配置</th>
                <th>描述</th>
                <th>所属机构</th>
                <th>状态</th>
            </tr>
			{% for boardroom in boardrooms %}
			<tr>
                {% if flag == 'mg' %}
				    <td><input type="checkbox" name="idbox" value="{{boardroom.br_id}}" onclick="checkuser(this)"></td>
                {% endif %}
				<td>{{boardroom.br_name}}</td>
				<td>
                    <a class="image-link" href="{{ request.static_url('brms:static/img/boardroom/' + boardroom.picture) }}"
                       data-lightbox="image">
                        <img class="image" src="{{ request.static_url('brms:static/img/boardroom/' + boardroom.picture) }}"
                             height="70" width="90" alt="" />
                    </a>
                </td>
                <td>{{boardroom.config}}</td>
                <td>{{boardroom.description}}</td>
                <td>{{boardroom.org_name}}</td>
                <td>{{boardroom.state}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>

<nav>
	<ul class="pagination">
		{% if paginator.page_no == 1 %}
		<li class="disabled"><a>首页</a></li>
		<li class="disabled"><a>上一页</a></li>
		{% else %}
		<li><a href="javascript:list(1)">首页</a></li>
		<li><a	href="javascript:list({{ paginator.previous_page }})">上一页</a></li>
		{% endif %}

		{% for page in paginator.page_list %}
		<li><a href="javascript:list({{ page }})">{{ page }}</a></li>
		{% endfor %}

		{% if paginator.page_no == paginator.pages %}
		<li class="disabled"><a>下一页</a></li>
		<li class="disabled"><a>末页</a></li>
		{% else %}
		<li><a href="javascript:list({{ paginator.next_page }})">下一页</a></li>
		<li><a href="javascript:list({{ paginator.pages }})">末页</a></li>
		{% endif %}
		<li class="disabled"><a>共{{ paginator.pages }}页&nbsp; 到第&nbsp;<input
				id="pageNo" style="width: 30px; height: 17px;" type="text"
				value="{{ paginator.next_page }}">&nbsp;页
		</a></li>
		<li><a href="javascript:page()">确定</a></li>
	</ul>
</nav>