<div class="table-responsive full-width">
    <table class="table table-bordered table-hover"  style="table-layout: fixed;">
        <thead>
            <tr>
                {% if flag == 'mg' %}
                    <th width="30"></th>
                {% endif %}
                <th width="90">会议室名称</th>
                <th width="100">会议室照片</th>
{#                <th width="100">logo</th>#}
{#                <th width="100">按钮图标</th>#}
{#                <th width="100">背景图片</th>#}
                <th width="350">配置</th>
                <th width="200">描述</th>
                <th width="100">所属机构</th>
            </tr>
        </thead>
        <tbody>
            {% for boardroom in boardrooms %}
                <tr>
                    {% if flag == 'mg' %}
                        <td><input type="checkbox" name="idbox" value="{{ boardroom.br_id }}" onclick="checkbr(this)">
                        </td>
                    {% endif %}
                    <td title="{{ boardroom.br_name }}">{{ boardroom.br_name }}</td>
                    <td>
                        <a class="image-link"
                           href="{{ request.static_url('brms:' + (boardroom.picture if boardroom.picture else 'static/img/boardroom/default.jpg')) }}"
                           data-lightbox="image">
                            <img class="image"
                                 src="{{ request.static_url('brms:' + (boardroom.picture if boardroom.picture else 'static/img/boardroom/default.jpg')) }}"
                                 height="70" width="90" alt="" title="点击图片查看大图"/>
                        </a>
                    </td>
{#                    <td>#}
{#                        <a class="image-link"#}
{#                           href="{{ request.static_url('brms:' + (boardroom.logo if boardroom.logo else 'static/img/boardroom/default.jpg')) }}"#}
{#                           data-lightbox="image">#}
{#                            <img class="image"#}
{#                                 src="{{ request.static_url('brms:' + (boardroom.logo if boardroom.logo else 'static/img/boardroom/default.jpg')) }}"#}
{#                                 height="70" width="90" alt="" title="点击图片查看大图"/>#}
{#                        </a>#}
{#                    </td>#}
{#                    <td>#}
{#                        <a class="image-link"#}
{#                           href="{{ request.static_url('brms:' + (boardroom.button_img if boardroom.button_img else 'static/img/boardroom/default.jpg')) }}"#}
{#                           data-lightbox="image">#}
{#                            <img class="image"#}
{#                                 src="{{ request.static_url('brms:' + (boardroom.button_img if boardroom.button_img else 'static/img/boardroom/default.jpg')) }}"#}
{#                                 height="70" width="90" alt="" title="点击图片查看大图"/>#}
{#                        </a>#}
{#                    </td>#}
{#                    <td>#}
{#                        <a class="image-link"#}
{#                           href="{{ request.static_url('brms:' + (boardroom.background if boardroom.background else 'static/img/boardroom/default.jpg')) }}"#}
{#                           data-lightbox="image">#}
{#                            <img class="image"#}
{#                                 src="{{ request.static_url('brms:' + (boardroom.background if boardroom.background else 'static/img/boardroom/default.jpg')) }}"#}
{#                                 height="70" width="90" alt="" title="点击图片查看大图"/>#}
{#                        </a>#}
{#                    </td>#}
                    <td title="{{ boardroom.config }}">{{ boardroom.config }}</td>
                    <td title="{{ boardroom.description }}">{{ boardroom.description }}</td>
                    <td>{{ boardroom.org_name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<nav>
    <ul class="pagination">
        {% if paginator.page_no == 1 %}
            <li class="disabled"><a>首页</a></li>
            <li class="disabled"><a>上一页</a></li>
        {% else %}
            <li><a href="javascript:list(1)">首页</a></li>
            <li><a href="javascript:list({{ paginator.previous_page }})">上一页</a></li>
        {% endif %}

        {% for page in paginator.page_list %}
            <li><a href="javascript:list({{ page }})">{{ page }}</a></li>
        {% endfor %}

        {% if paginator.page_no == paginator.pages %}
            <li class="disabled"><a>下一页</a></li>
            <li class="disabled"><a>末页</a></li>
        {% else %}
            <li><a href="javascript:list({{ paginator.next_page }})">下一页</a></li>
            <li><a href="javascript:list({{ paginator.pages }})">末页</a></li>
        {% endif %}
        <li class="disabled"><a>共{{ paginator.pages }}页&nbsp; 到第&nbsp;<input
                id="pageNo" style="width: 30px; height: 17px;" type="text"
                value="{{ paginator.next_page }}">&nbsp;页
        </a></li>
        <li><a href="javascript:page()">确定</a></li>
    </ul>
</nav>