<div class="table-responsive full-width">
    <table class="table table-bordered table-hover"  style="table-layout: fixed;">
        <thead>
			<tr>
				<th width="30"></th>
				<th>角色代码</th>
				<th>角色名称</th>
                <th>角色描述</th>
                <th>创建人</th>
                <th>创建时间</th>
			</tr>
        </thead>
        <tbody>
			{% for role in roles %}
			<tr>
				<td><input type="checkbox" name="idbox"
					value="{{role.role_id}}" onclick="checkrole(this)"></td>
				<td>{{role.role_id}}</td>
				<td title="{{role.role_name}}">{{role.role_name}}</td>
                <td title="{{role.role_desc}}">{{role.role_desc}}</td>
                <td title="{{role.create_user}}">{{role.create_user}}</td>
                <td title="{{role.create_time}}">{{role.create_time}}</td>
			</tr>
			{% endfor %}
        </tbody>
    </table>
</div>

<nav>
	<ul class="pagination">
		{% if paginator_role.page_no == 1 %}
		<li class="disabled"><a>首页</a></li>
		<li class="disabled"><a>上一页</a></li>
		{% else %}
		<li><a href="javascript:listRole(1)">首页</a></li>
		<li><a	href="javascript:listRole({{ previous_page }})">上一页</a></li>
		{% endif %}

		{% for page in paginator_role.page_list %}
		<li><a href="javascript:listRole({{ page }})">{{ page }}</a></li>
		{% endfor %}

		{% if paginator_role.page_no == paginator_role.pagess %}
		<li class="disabled"><a>下一页</a></li>
		<li class="disabled"><a>末页</a></li>
		{% else %}
		<li><a href="javascript:listRole({{ paginator_role.next_page }})">下一页</a></li>
		<li><a href="javascript:listRole({{ paginator_role.pages }})">末页</a></li>
		{% endif %}
		<li class="disabled"><a>共{{ paginator_role.pages }}页&nbsp; 到第&nbsp;<input
				id="pageRoleNo" style="width: 30px; height: 17px;" type="text"
				value="{{ paginator_role.next_page }}">&nbsp;页
		</a></li>
		<li><a href="javascript:pageRole()">确定</a></li>
	</ul>
</nav>