<div class="table-responsive full-width">
    <table class="table table-bordered table-hover" style="table-layout: fixed;">
        <thead>
			<tr>
				<th width="30"></th>
				<th>会议名称</th>
                <th>会议室</th>
                <th>会议描述</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>创建人</th>
                <th>创建时间</th>
			</tr>
        </thead>
        <tbody>
			{% for meeting in meetings %}
			<tr>
				<td><input type="checkbox" name="idbox"
					value="{{meeting.id}}" onclick="checkmeeting(this)"></td>
				<td>{{meeting.name}}</td>
                <td>{{meeting.room_name}}</td>
                <td>{{meeting.description}}</td>
                <td>{{meeting.start_date}}&nbsp;{{meeting.start_time}}</td>
                <td>{{meeting.end_date}}&nbsp;{{meeting.end_time}}</td>
                <td>{{meeting.create_user}}</td>
                <td>{{meeting.create_time}}</td>
			</tr>
			{% endfor %}
        </tbody>
    </table>
</div>

<nav>
	<ul class="pagination">
		{% if paginator.page_no == 1 %}
		<li class="disabled"><a>首页</a></li>
		<li class="disabled"><a>上一页</a></li>
		{% else %}
		<li><a href="javascript:list(1)">首页</a></li>
		<li><a	href="javascript:list({{ previous_page }})">上一页</a></li>
		{% endif %}

		{% for page in paginator.page_list %}
		<li><a href="javascript:list({{ page }})">{{ page }}</a></li>
		{% endfor %}

		{% if paginator.page_no == paginator.pagess %}
		<li class="disabled"><a>下一页</a></li>
		<li class="disabled"><a>末页</a></li>
		{% else %}
		<li><a href="javascript:list({{ paginator.next_page }})">下一页</a></li>
		<li><a href="javascript:list({{ paginator.pages }})">末页</a></li>
		{% endif %}
		<li class="disabled"><a>共{{ paginator.pages }}页&nbsp; 到第&nbsp;<input
				id="pageNo" style="width: 30px; height: 17px;" type="text"
				value="{{ nextPage }}">&nbsp;页
		</a></li>
		<li><a href="javascript:page()">确定</a></li>
	</ul>
</nav>