{% block content %}
<section style="padding-top:5px;">
  <ol class="breadcrumb">
    <li><i class="fa fa-dashboard marginR6"></i><a href="javascript:loadcontent('/my_meeting');">主页</a></li>
    <li><a href="#">会议列表</a></li>
  </ol>
</section>
<section class="content-search-area">
  <div class="user-search">
    <div class="row form-horizontal" id="search-form">
        <div style="padding:0 130px 0 30px;">
            <div class="col-md-4 paddingLR0" style='padding-left:0px;'>
                <div class="form-group">
                    <label class="col-sm-4 control-label form-label paddingR0 paddingL0">会议名称</label>
                    <div class="col-sm-8 paddingR0">
                        <input type="text" class="form-control"	id="search" name="search">
                    </div>
                </div>
{#            </div>#}
{#            <div class="col-md-4 paddingLR0" style='padding-left:0px;'>#}
                <div class="form-group">
                    <label class="col-sm-4 control-label form-label paddingR0 paddingL0">会议室</label>
                    <div class="col-sm-8 paddingR0">
                        <input type="text" class="form-control"	id="room_name" name="room_name">
                    </div>
                </div>
            </div>
            <div class="col-md-4 paddingLR0" style='padding-left:0px;'>
                <div class="form-group">
                    <label class="col-sm-4 control-label form-label paddingR0 paddingL0">开始时间</label>
                    <div class="col-sm-8 paddingR0">
                        <input type="text" class="form-control"	id="search_start" name="search_start">
                    </div>
                </div>
{#            </div>#}
{#            <div class="col-md-4 paddingLR0" style='padding-left:0px;'>#}
                <div class="form-group">
                    <label class="col-sm-4 control-label form-label paddingR0 paddingL0">结束时间</label>
                    <div class="col-sm-8 paddingR0">
                        <input type="text" class="form-control pull-right"	id="search_end" name="search_end">
                        <input id="flag" name="flag" class="hidden" value="all">
                    </div>
                </div>
            </div>
            <button type="button" style="margin-left: 40px;" class="btn btn-success" onclick="list(1)">
                <i class="fa fa-search marginR6" ></i>查询
            </button>
        </div>
        </div>
    </div>
</section>
<section class="main-bootstrap-table">
	<div class="in-table">
        <div class="toolbar">
            <div class="btns pull-left">
                <button type="button" class="btn btn-success" onclick="to_add()"><i class="fa fa-edit marginR6"></i>新增</button>
                <button type="button" class="btn btn-default" onclick="to_update()"><i class="fa  fa-pencil marginR6"></i>修改</button>
                <button type="button" class="btn btn-warning" onclick="del()"><i class="fa  fa-times marginR6"></i>删除</button>
            </div>
        </div>
        <div id="listWrapper">
        </div>
	</div>
    <div id="modalWrapper"></div>
</section>

<link rel="stylesheet" href="{{request.static_url('brms:static/css/bootstrap-datetimepicker.min.css')}}">
<script src="{{ request.static_url('brms:static/datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
<script src="{{ request.static_url('brms:static/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js') }}"></script>
<script src="{{ request.static_url('brms:static/js/meeting/meeting.js') }}"></script>
<script>
    $("#search_start").datetimepicker({
        language: 'zh-CN',
        autoclose: true,
        todayHighlight: true,
        format: 'yyyy-mm-dd',
        minView: 2,
        maxView: 3
    });
    $("#search_end").datetimepicker({
        language: 'zh-CN',
        autoclose: true,
        todayHighlight: true,
        format: 'yyyy-mm-dd',
        minView: 2,
        maxView: 3
    });
</script>
{% endblock %}
