<div class="table-responsive full-width">
    <table class="table table-bordered table-hover"  style="table-layout: fixed;">
        <thead>
			<tr>
				<th width="30"></th>
				<th>用户账号</th>
				<th>用户姓名</th>
                <th>所属机构</th>
                <th>角色</th>
                <th>预约期限</th>
{#                <th>用户类型</th>#}
                <th>电子邮箱</th>
                <th>联系电话</th>
                <th>职位</th>
{#                <th>状态</th>#}
                <th width="16%">创建时间</th>
            </tr>
            </thead>
            <tbody>
			{% for user in users %}
			<tr>
				<td><input type="checkbox" name="idbox" value="{{user.user_id}}" onclick="checkuser(this)"></td>
				<td title="{{user.user_account}}">{{user.user_account}}</td>
				<td title="{{user.user_name}}">{{user.user_name}}</td>
                <td title="{{user.org_name}}">{{user.org_name}}</td>
                <td title="{{user.role_name}}">{{user.role_name}}</td>
                <td>{{user.max_period}}</td>
{#                <td>{{user.user_type}}</td>#}
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.position}}</td>
{#                <td>{{user.state}}</td>#}
                <td>{{user.create_time}}</td>
			</tr>
			{% endfor %}
            </tbody>
		</table>
	</div>
</div>

<nav>
	<ul class="pagination">
		{% if paginator.page_no == 1 %}
		<li class="disabled"><a>首页</a></li>
		<li class="disabled"><a>上一页</a></li>
		{% else %}
		<li><a href="javascript:listUser(1)">首页</a></li>
		<li><a	href="javascript:listUser({{ paginator.previous_page }})">上一页</a></li>
		{% endif %}

		{% for page in paginator.page_list %}
		<li><a href="javascript:listUser({{ page }})">{{ page }}</a></li>
		{% endfor %}

		{% if paginator.page_no == paginator.pages %}
		<li class="disabled"><a>下一页</a></li>
		<li class="disabled"><a>末页</a></li>
		{% else %}
		<li><a href="javascript:listUser({{ paginator.next_page }})">下一页</a></li>
		<li><a href="javascript:listUser({{ paginator.pages }})">末页</a></li>
		{% endif %}
		<li class="disabled"><a>共{{ paginator.pages }}页&nbsp; 到第&nbsp;<input
				id="pageNo" style="width: 30px; height: 17px;" type="text"
				value="{{ paginator.next_page }}">&nbsp;页
		</a></li>
		<li><a href="javascript:pageUser()">确定</a></li>
	</ul>
</nav>