{% block content %}
<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">
			<i class="icon-user" id="icon-user"></i>&nbsp;用户列表
		</h3>
	</div>

	<div class="panel-body">
		<div class="form-inline">
			<label>用户帐号:</label><input type="text" class="form-control"	id="user_account" name="user_account" placeholder="">
			<label>用户名称:</label><input type="text" class="form-control" id="user_name" name="user_name" placeholder="">
			<label for="org_id">机构:</label>
            <select class="form-control" id="org_id" name="org_id">
                <option></option>
				{% for branch in branches %}
				<option value="{{branch.org_id}}">{{branch.org_name}}</option>
				{%	endfor %}
			</select>
			<label>角色:</label> <input type="text" class="form-control"
				id="role_name" name="role_name" placeholder="">
			<label>
			<button type="button" class="btn btn-primary" onclick="list(1)">
					<i class="icon-search" id="icon_search"></i>&nbsp;查询&nbsp;
			</button>
			</label>
		</div>
		<div class="panel-body">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" onclick="to_add()">新增</button>
                <button type="button" class="btn btn-default" onclick="to_update()">修改</button>
                <button type="button" class="btn btn-default" onclick="del()">删除</button>
            </div>
            <div id="listWrapper"></div>
		</div>
	</div>
</div>

<div id="modalWrapper"></div>

<script src="{{ request.static_url('brms:static/js/user/user.js') }}"></script>
{% endblock %}

